@import "variables";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 2.5vw;
  background-color: white;
  padding: 4vw 4.2vw;

  .sign-in-form,
  .sign-up-form {
    width: 100%;
    height: 100%;

    .title {
      text-align: center;
      margin-bottom: 2.8vw;

      h1 {
        color: $purple;
        font-size: $font-big;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;

      .input {
        width: 100%;
        height: 4vw;
        border: 0.1vw solid $purple;
        border-radius: 6vw;
        margin-bottom: 2.5vw;
        padding: 1.5vw;
        color: $purple;
        font-size: $font-sm;
        transition: 0.2s;

        &::placeholder {
          color: $purple;
        }

        &:hover {
          box-shadow: 0 0 2vw $purple-lighter;
          transition: 0.2s;
        }
      }
      .input:focus,
      .input:active {
        outline: 0.1vw solid $purple;
      }
    }

    .submit-btn {
      width: 100%;
      height: 4vw;
      margin-bottom: 1.5vw;

      button {
        width: 100%;
        height: 100%;
        color: white;
        background-color: $purple;
        border: none;
        border-radius: 6vw;
        font-size: $font-md;
        text-transform: capitalize;
        transition: 0.2s;

        &:hover:enabled {
          box-shadow: 0 0 1vw $purple-light;
          transition: 0.2s;
        }
      }
    }

    .redirect-link {
      width: 100%;
      text-align: center;

      a {
        font-size: $font-sm;
        color: $purple-text-light;
        text-decoration: none;
      }
    }
  }
}
