<div class="form">
  <!-- SignIn form  -->
  <form
    *ngIf="formType === pageName.SIGN_IN"
    [formGroup]="authForm"
    class="sign-in-form"
  >
    <div class="title"><h1>Welcome!</h1></div>
    <div class="inputs">
      <mat-form-field>
        <input
          matInput
          formControlName="login"
          type="text"
          placeholder="your login"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="password"
        />
      </mat-form-field>
    </div>
    <div class="submit-btn">
      <button
        mat-raised-button
        color="primary"
        (click)="buttonAction()"
        [disabled]="authForm.invalid"
      >
        login
      </button>
    </div>
    <div class="redirect-link">
      <a [routerLink]="route.SIGN_UP">haven't account yet?</a>
    </div>
  </form>

  <!-- SignUp form -->
  <form
    *ngIf="formType === pageName.SIGN_UP"
    [formGroup]="authForm"
    class="sign-up-form"
  >
    <div class="title"><h1>Welcome!</h1></div>
    <div class="inputs">
      <mat-form-field>
        <input
          matInput
          formControlName="login"
          type="text"
          placeholder="your login"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="password"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="passwordRepeat"
          type="password"
          placeholder="password repeat"
        />
      </mat-form-field>
    </div>
    <div class="submit-btn">
      <button
        mat-raised-button
        color="primary"
        (click)="buttonAction()"
        [disabled]="authForm.invalid"
      >
        register
      </button>
    </div>
    <div class="redirect-link">
      <a [routerLink]="route.SIGN_IN">already have an account?</a>
    </div>
  </form>
</div>
