$main-font: "Inter", sans-serif;

$purple: #b872fe;
$purple-light: rgba(184, 114, 254, 0.5);
$purple-lighter: rgba(184, 114, 254, 0.2);
$purple-text-light: #b872feb2;

$grey-light: #60606070;

$font-big: 3.3vw;
$font-md: 1.7vw;
$font-sm: 1.4vw;
